body{
    border: 4px solid black;
    margin-left: 10%;
    margin-right: 10%;
}
h2{
    text-align: center;

}
h1{
    text-align: center;
}
table{
    margin-left: 30%;
}
.exp{
    background-color: bisque;
}